<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Comidas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
      <ion-content *ngFor="let ingredient of arrayIngredient.slice(0, 10)">

<ion-card>
  <ion-card-header>
    <ion-card-title>{{ ingredient.strIngredient }}</ion-card-title>
    <ion-card-subtitle>{{ ingredient.idIngredient }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{ ingredient.strDescription }}
  </ion-card-content>
  <ion-button>VER MENÚ</ion-button>
</ion-card>
    </ion-content>
