<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TUKITUKI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-content padding>
    <ion-list  [inset]="true">
      <ion-item *ngFor="let ingredient of arrayIngredient.slice(0, 10)">
        <ion-label>{{ ingredient.idIngredient }}</ion-label>
        <ion-label>{{ ingredient.strIngredient }}</ion-label>
        <ion-label>{{ ingredient.strDescription }}</ion-label>
        <ion-label>{{ ingredient.strType }}</ion-label>
      </ion-item>
    </ion-list>
